.header-menu {
    width: 100%;
    background-color: rgb(85, 82, 82);
    color: white;
    height: 8vh;
    justify-content: center;
    align-items: center;
    border-bottom: solid black;
    display: flex;
}

.header-buttons {
    background-color: rgb(85, 82, 82);
    color: white;
    margin: 0px 5px;
}

#header-sign-in-button {
    display: none;
}

@media only screen and (min-width: 768px) {
    #header-sign-in-button {
        display: flex;
    }

    .header-buttons {
        display: flex;
        justify-content: flex-end;
    }
}