.book-history-table {
    align-self: center;
    border: double purple 3px;
    width: 380px;
    border-collapse: collapse;

}

.book-history-table-wrapper {
    padding-bottom: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.book-history-table td {
    border: purple solid 1px;
    font-size: 20px
}