.book-history-table {
    align-self: center;
    border: double purple 3px;
    width: 380px;
    border-collapse: collapse;
    padding-bottom: 50px;

}

.book-history-table td {
    border: purple solid 1px;
    font-size: 20px
}