.search-bar-input{
    font-size: large;
    height: 27px;
    margin-right: 5px;
    border-radius: 15px;
}

.search-button{
    height: 30px;
    width: 30px;
    background-color: grey;
    color: white;
    border: solid lightgrey;
}
