.book-details-page {
    width: 100%;
    display: flex;
    margin-top: 15%;
    flex-direction: column;
    font-size: large;
}

#book-details-cover {
    height: 380px;
    width: 230px;
    align-self: center;
    border: black ridge 3px;
    margin-bottom: 20px;
}

.book-details-author-names {
    margin: 0px;
    font-size: 25px;
}

.book-details-buttons button {
    margin: 10px;
    background-color: #E6E7FA;

}

@media only screen and (min-width: 768px) {
    .book-details-page {
        margin-top: 5%;
    }
}