.profile-page {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.log-out-button {
    background-color: grey;
    color: white;
    font-size: larger;
    border-radius: 15px;
    border: solid;
}