.app {
  text-align: center;
  height: 100vh;
}

.app-view{
  display: flex;
  height: 100vh;
}

.side-menu{
  display: none;
}

@media only screen and (min-width: 768px) {
 .footer{
  display: none;
 }
 .side-menu{
  display: inline;
 }
}



