body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E6E7FA;
  height: 100vh;
}

button {
  border: solid;
  border-radius: 15px;
  font-size: larger;
}

input {
  font-size: large;
  border-radius: 15px;
  border: none;
  background-color: rgb(238, 235, 231);
  border-bottom: solid rgba(37, 36, 36, 0.581) 3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}