.home-page {
    width: 100%;
    margin-top: 5%;
    padding-top: 15%;
}

.home-page-books {
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 8vh;
    margin-left: 15px;
}

.home-page-infinite-scroll-content {
    display: flex;
    flex-direction: column;
}

.infinite-scroll-component {
    margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
    .home-page {
        margin: 3% 3%;
        padding-top: 2%;
    }

    .home-page-books {
        width: 100%;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: 8vh;
        margin-left: 3%;
        padding-left: 5%;
    }

    .home-page-infinite-scroll-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}