.home-page {
    width: 100%;
    margin: 5% 5%;
}

.home-page-books {
    justify-content: center;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.home-page-infinite-scroll-content {
    display: flex;
    flex-direction: column;
}

.infinite-scroll-component {
    margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
    .home-page-books {
        width: 100%;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: 8vh;
        margin-left: 7%;
    }

    .home-page-infinite-scroll-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}